body {
    margin: 0;
    background-color: rgb(49,51,56);
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
    font-family: Electrolize;
    color: whitesmoke;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

header, footer {
    width: 100%;
    background-color: rgb(30,31,34);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header {
    position: fixed;
    z-index: 2;
    top: 0;
}

main {
    margin: 10% 5% 5% 5%;
}

input, button {
    padding: 0.5rem;
    border: transparent;
    color: whitesmoke;
}

input {
    border-radius: 0.25rem;
    background-color: rgb(30,31,34);
}

button {
    border-radius: 0.5rem;
    background-color: rgb(88,101,242);
}

button:hover {
    background-color: rgb(72, 82, 197);
}

.negative-button {
    background-color: rgb(218,55,60);
}

.negative-button:hover {
    background-color: rgb(180, 45, 50);
}

.menu-item {
    width: 10%;
}

.footer-item {
    padding: 1rem;
}

.info {
    font-size: 1.5rem;
}